<div class="body_content">

<div class="">
<br>
<br>
</div>
<div class="">
  <p>ReviewR was built as an experiment to learn Ruby. I apologize in advance for the lack of error handling. </p>

<p>Contact me@danielroberthawkins.com for more details </p>

  <p>Special thanks to M Cranston for his patience with me in getting through Git.</p>
<br>
<br>
  <h4>future projects</h4>

  <p>Spoilr. Spoil any movie with a click of a button.</p>

  <br>
  <br>

</div>
  </div>
