<div class="body_content">

<div class="">
<br>
<br>
</div>
<div class="">
  <p>Reviewr is a state-of-the-art AI system for reviewing movies. Please be patient; Reviewer needs time to view the film from start to finish to give you an accurate review.  </p>

  <p>Special thanks to M Cranston for his patience with me in getting through Git. And I apologize in advance for the lack of error handling.</p>

  <p>Contact me@danielroberthawkins.com for more details </p>
<br>
<br>
  <h4>future projects</h4>

  <p>Spoilr. Spoil any movie with a click of a button.</p>
  <br>
  <br>

</div>
  </div>
